/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&display=swap');
/* CSS reset */
body, h1, nav, ul, li, a, section, footer, p {
margin: 0;
padding: 0;
}

/* Setting default font */
body {
font-family: 'Open Sans', sans-serif;
color: #333;
line-height: 1.6;
background: #fdfdfd;
}

header {
background-color: #feefe2;
text-align: center;
padding: 1.5em 0;
}

h1 {
font-family: 'Dancing Script', cursive;
font-size: 2.5em;
color: #b81d8b;
}

nav a {
text-decoration: none;
color: #333;
}

nav a:hover {
color: #b81d8b;
text-decoration: underline;
}

footer {
background-color: #feefe2;
text-align: center;
padding: 1em 0;
}

table {
width: 100%;
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
font-family: 'Open Sans', sans-serif;
min-width: 400px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
cursor: pointer;
}
th:hover {
background-color: #f3e9e9;
transition: background-color 0.3s;
}